<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="gazebo_ros_p3d_world" filename="libgazebo_ros_p3d.so">
            <ros>
                <remapping>odom:=world_pose</remapping>
            </ros>
            <body_name>base_link</body_name>
            <frame_name>world</frame_name>
            <update_rate>50.0</update_rate>
            <gaussian_noise>0.0</gaussian_noise>
        </plugin>
    </gazebo>
</robot>
