<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="hip_torque_max" value="200"/>
    <xacro:property name="thigh_torque_max" value="200"/>
    <xacro:property name="calf_torque_max" value="320"/>
    <xacro:property name="ros_version" value="$(env ROS_VERSION)" />
</robot>
