<?xml version="1.0"?>

<robot name="b2_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="gpu" default="false"/>
    <xacro:property name="gpu" value="$(arg gpu)"/>
    <!-- false = compact 1D cloud (still has ring/time); true = full 32xN grid with NaN padding -->
    <xacro:arg name="organize_cloud" default="false"/>
    <xacro:property name="organize_cloud" value="$(arg organize_cloud)"/>
    <xacro:arg name="enable_cameras" default="false"/>
    <xacro:property name="enable_cameras" value="$(arg enable_cameras)"/>

    <xacro:include filename="$(find b2_description)/urdf/b2_description.urdf"/>
    <xacro:include filename="$(find b2_description)/xacro/gazebo.xacro"/>
    <xacro:include filename="$(find b2_description)/xacro/lidar.xacro"/>

</robot>
